html{
scroll-behavior:smooth;
}

body{
margin:0;
font-family:Arial;
color:white;
background:#050505;
}

canvas{
position:fixed;
top:0;
left:0;
z-index:-1;
}

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 40px;
background:rgba(0,0,0,0.75);
backdrop-filter:blur(6px);
position:sticky;
top:0;
z-index:1000;
transition:0.3s;
}

.logo{
display:flex;
align-items:center;
gap:12px;
font-size:22px;
font-weight:bold;
}

.logo img{
height:55px;
border-radius:14px;
box-shadow:0 0 10px rgba(0,195,255,0.5);
}

.menu a{
margin:0 18px;
text-decoration:none;
color:white;
font-weight:500;
position:relative;
transition:0.3s;
}

.menu a:hover{
color:#00c3ff;
}

.lang button{
margin-left:6px;
padding:6px 12px;
border:none;
background:#00bfff;
color:white;
border-radius:6px;
cursor:pointer;
font-size:13px;
}

.hero{
text-align:center;
padding:70px 20px;
}

.hero h1{
font-size:48px;
margin-bottom:5px;
}

.hero p{
margin-top:0;
font-size:18px;
color:#ccc;
}

.card{
max-width:900px;
margin:40px auto;
padding:30px;
background:rgba(0,0,0,0.65);
border-radius:12px;
text-align:center;
}

footer{
text-align:center;
padding:30px;
color:#aaa;
font-size:14px;
}

#aboutText {
    text-align: left;
    max-width: 900px;
    margin: auto;
}

#aboutText li {
    text-align: left;
    margin-bottom: 10px;
    line-height: 1.6;
}

#serviceText {
    text-align: left;
    max-width: 900px;
    margin: auto;
}

#serviceText li {
    text-align: left;
    margin-bottom: 10px;
    line-height: 1.6;
}

/* ================= CONTACT CARD ================= */

.contact-wrapper{
display:flex;
flex-direction:column;
gap:30px;
margin-top:25px;
}

.contact-card{
display:flex;
align-items:center;
gap:25px;
background:rgba(0,0,0,0.6);
padding:25px 30px;
border-radius:12px;
max-width:650px;
margin:auto;
transition:0.3s;
}

/* hover animation */

.contact-card:hover{
transform:translateY(-5px);
box-shadow:0 10px 25px rgba(0,0,0,0.6);
}

/* QR */

.qr{
width:120px;
border-radius:12px;
cursor:pointer;
transition:0.3s;
}

.qr:hover{
transform:scale(1.05);
}

/* thông tin */

.contact-detail{
text-align:left;
line-height:1.7;
}

.contact-detail h3{
margin:0;
font-size:18px;
}

.position{
color:#00c3ff;
margin-bottom:6px;
font-size:14px;
}